anyio==3.5.0
appdirs==1.4.4
APScheduler==3.7.0
apt-xapian-index==0.49
argos-translate-files==1.0.5
argostranslate==1.6.1
beautifulsoup4==4.9.3
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
colorama==0.4.4
command-not-found==0.3
commonmark==0.9.1
cryptography==3.4.8
ctranslate2==2.10.1
cupshelpers==1.0
dbus-python==1.2.18
Deprecated==1.2.13
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
dnspython==2.1.0
expiringdict==1.2.1
filelock==3.7.1
Flask==1.1.2
Flask-Limiter==1.4
flask-swagger==0.2.14
flask-swagger-ui==3.36.0
fuse-python==1.0.2
gpg===1.16.0-unknown
gTTS==2.0.3
gTTS-token==1.1.3
h11==0.13.0
html5lib==1.1
httpcore==0.14.5
httplib2==0.20.2
httpx==0.22.0
idna==3.3
importlib-metadata==4.6.4
isort==5.6.4
itsdangerous==2.0.1
jeepney==0.7.1
Jinja2==3.1.2
keyring==23.5.0
langdetect==1.0.7
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libretranslate==1.2.7
limits==2.6.1
llfuse==1.3.8
lxml==4.7.1
Markdown==3.3.6
MarkupSafe==2.1.1
more-itertools==8.10.0
Morfessor==2.0.6
netifaces==0.11.0
numpy==1.21.5
oauthlib==3.2.0
olefile==0.46
packaging==21.3
pexpect==4.8.0
Pillow==9.0.1
platformdirs==2.5.2
polyglot==16.7.4
protobuf==3.20.1
ptyprocess==0.7.0
pycairo==1.20.1
pycld2==0.41
pycodestyle==2.8.0
pycups==2.0.1
Pygments==2.11.2
PyGObject==3.42.0
PyICU==2.9
PyJWT==2.3.0
pylibacl==0.6.0
pyparsing==2.4.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
python-apt==2.3.0+ubuntu2
python-debian===0.1.43ubuntu1
pytz==2022.1
pyxattr==0.7.2
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
rich==11.2.0
screen-resolution-extra==0.0.0
SecretStorage==3.3.1
sentencepiece==0.1.96
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
stanza==1.1.1
SurfShark-VPN-GUI==1.0
systemd-python==234
toml==0.10.2
torch==1.11.0
tornado==6.1
tqdm==4.64.0
translatehtml==1.5.2
typing_extensions==4.2.0
tzlocal==2.1
ubuntu-advantage-tools==27.8
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
virtualenv==20.14.1
wadllib==1.3.6
waitress==1.4.4
webencodings==0.5.1
Werkzeug==2.1.2
wrapt==1.14.1
wxPython==4.0.7
xkit==0.0.0
zipp==1.0.0
